# envs
backend/.env
frontend/.env

# runtime data
data/
backend/renders/*
!backend/renders/.gitkeep

# python
**/__pycache__/
**/*.pyc
**/.venv/
**/.pytest_cache/

# node
**/node_modules/
**/.cache/
**/build/
**/dist/

# ide
.vscode/
.idea/
.DS_Store
